@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  background-color: rgb(67, 71, 82);
  width: 100vw;
  height: 100vh;
}

.inside-main {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
